<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        a {
            text-decoration: none;
        }
        nav {
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding: 0.5rem 0;
        }
        .nav-link {
            background-color: black;
            color: white;
            padding: 1rem;
        }
    </style>
</head>
<body>
<nav>
    <a href="/" class="nav-link">Home</a>
    <a href="/group/assessment" class="nav-link">Assessment</a>
</nav>
<main>
    <h1>Home page</h1>
</main>
</body>
</html>